In [1]:
import os
import pandas as pd
import sqlalchemy

In [2]:
#connection to the open payments in data in mysql
constr = 'mysql+mysqlconnector://root:J5wyNz72Jgk2R3@localhost:3306/pbgh_property'
engine = sqlalchemy.create_engine(constr,echo=False)

In [3]:
sales = pd.read_sql(con=engine, sql='''
#main query to be used for modeling home sales activity in Allegheny Count
#Author:Henry Greeley
#Date: 7.3.21
#Name: get_ac_home_sales

SELECT 

parcels.PARID
,parcels.PROPERTYHOUSENUM
,parcels.PROPERTYUNIT
,parcels.PROPERTYADDRESS
,parcels.PROPERTYCITY
,parcels.PROPERTYZIP
,CONVERT(parcels.USECODE,unsigned) AS USECODE
,parcels.USEDESC
,parcels.STYLE
,assess.STYLEDESC
,COALESCE(geo.geo_name_nhood,parcels.PROPERTYCITY)																								AS NHOOD_TOWN	
,geo.geo_name_nhood
,geo.geo_id_zipcode																					AS NEIGHBHOOD
,CONVERT(geo.x, FLOAT) AS LON
,CONVERT(geo.y, FLOAT) AS LAT
,parcels.SALEDESC
,CONVERT(RIGHT(parcels.SALEDATE,4),UNSIGNED) 																									AS SALEYEAR
,DATE(CONCAT(RIGHT(parcels.SALEDATE,4),'-',LEFT(parcels.SALEDATE,2),'-',RIGHT(LEFT(parcels.SALEDATE,5),2))) 									AS SALEDATE
,CAST(parcels.SALEPRICE AS UNSIGNED)																											AS SALEPRICE
,DATE(CONCAT(RIGHT(assess.PREVSALEDATE,4),'-',LEFT(assess.PREVSALEDATE,2),'-',RIGHT(LEFT(assess.PREVSALEDATE,5),2))) 							AS PREVSALEDATE
,CAST(assess.PREVSALEPRICE AS UNSIGNED)																											AS PREVSALEPRICE
,DATE(CONCAT(RIGHT(assess.PREVSALEDATE2,4),'-',LEFT(assess.PREVSALEDATE2,2),'-',RIGHT(LEFT(assess.PREVSALEDATE2,5),2))) 						AS PREVSALEDATE2
,CAST(assess.PREVSALEPRICE2 AS UNSIGNED)																										AS PREVSALEPRICE2
,CAST(assess.FINISHEDLIVINGAREA AS UNSIGNED)																									AS FINISHEDLIVINGAREA
,DATE(CONCAT(RIGHT(assess.RECORDDATE,4),'-',LEFT(assess.RECORDDATE,2),'-',RIGHT(LEFT(assess.RECORDDATE,5),2))) 									AS RECORDDATE
,CAST(assess.YEARBLT AS UNSIGNED)																												AS YEARBLT
,parcels.ASOFDATE                                                                                      									        AS ASOFDATE
,CAST(assess.FAIRMARKETBUILDING AS UNSIGNED)																									AS FAIRMARKETBUILDING
,CAST(assess.FAIRMARKETLAND AS UNSIGNED)																										AS FAIRMARKETLAND
,CAST(assess.FAIRMARKETTOTAL AS UNSIGNED) 																										AS FAIRMARKETTOTAL
,CAST(assess.BEDROOMS AS UNSIGNED)																												AS BEDROOMS				
,CAST(assess.FULLBATHS AS UNSIGNED)																												AS FULLBATHS
,CAST(assess.STORIES AS UNSIGNED)																												AS STORIES
,IFNULL(assess.BASEMENT,5)																														AS BASEMENT_
,assess.BASEMENTDESC
,assess.HEATINGCOOLING
,assess.HEATINGCOOLINGDESC
,CASE WHEN assess.HEATINGCOOLINGDESC = 'Central Heat with AC' THEN 1 
      WHEN assess.HEATINGCOOLINGDESC = 'Central Heat' THEN 2
      ELSE 3 END 																																AS HEATINGCOOLINGCAT
,ifnull(assess.CONDITION,3)																													AS CONDITION_																																																								
,assess.CONDITIONDESC
,ifnull(assess.ROOF,1)																														AS ROOF_
,assess.ROOFDESC
,assess.EXTFINISH_DESC
,assess.FIREPLACES
,CAST(assess.FAIRMARKETTOTAL AS UNSIGNED) 	/ CAST(assess.FINISHEDLIVINGAREA AS UNSIGNED)														AS ASSESS_PER_SQF
,CAST(parcels.SALEPRICE AS UNSIGNED) / CAST(assess.FINISHEDLIVINGAREA AS UNSIGNED)																AS PRICE_PER_SF
,DATEDIFF(
		  DATE(CONCAT(RIGHT(parcels.SALEDATE,4),'-',LEFT(parcels.SALEDATE,2),'-',RIGHT(LEFT(parcels.SALEDATE,5),2))),
          DATE(CONCAT(RIGHT(parcels.PREVSALEDATE,4),'-',LEFT(parcels.PREVSALEDATE,2),'-',RIGHT(LEFT(parcels.PREVSALEDATE,5),2)))
          ) 																										    AS HELDDAYS

FROM pbgh_property.allegheny_cty_parcels_2021 parcels
	 INNER JOIN pbgh_property.allghny_prcls_2021_geodta geo ON parcels.PARID = geo.PARID
     LEFT OUTER JOIN pbgh_property.allghny_prcls_2021_assessdta assess ON assess.PARID = parcels.PARID 
     
WHERE 1=1
AND parcels.USEDESC IN ('SINGLE FAMILY','ROWHOUSE','TOWNHOUSE','TWO FAMILY','FOUR FAMILY','THREE FAMILY')
AND DATE(CONCAT(RIGHT(parcels.SALEDATE,4),'-',LEFT(parcels.SALEDATE,2),'-',RIGHT(LEFT(parcels.SALEDATE,5),2)))  >= '2016-01-01'
AND CAST(parcels.SALEPRICE AS UNSIGNED)	 >= 10000
#AND geo.geo_name_nhood IS NOT NULLZ
''')

In [6]:
sales

,PARID,PROPERTYHOUSENUM,PROPERTYUNIT,PROPERTYADDRESS,PROPERTYCITY,PROPERTYZIP,USECODE,USEDESC,STYLE,STYLEDESC,...,HEATINGCOOLINGCAT,CONDITION_,CONDITIONDESC,ROOF_,ROOFDESC,EXTFINISH_DESC,FIREPLACES,ASSESS_PER_SQF,PRICE_PER_SF,HELDDAYS
0,0001G00111000000,161,,1ST AVE,PITTSBURGH,15222,10,SINGLE FAMILY,9,TOWNHOUSE,...,1,1,EXCELLENT,4,ROLL,Brick,NaN,802.8344,994.5301,1084.0
1,0001G00113000000,103,,MARKET ST,PITTSBURGH,15222,10,SINGLE FAMILY,9,TOWNHOUSE,...,1,1,EXCELLENT,4,ROLL,Brick,NaN,276.6798,341.8379,NaN
2,0002M00204000000,1609,,FORBES AVE,PITTSBURGH,15219,40,FOUR FAMILY,13,MULTI-FAMILY,...,2,3,AVERAGE,4,ROLL,Brick,0.0,36.0156,132.8125,6298.0
3,0011J00043000000,1917,,FORBES AVE,PITTSBURGH,15219,70,ROWHOUSE,12,ROW INTERIOR,...,2,5,POOR,4,ROLL,Brick,0.0,6.7119,5.7627,383.0
4,0011J00047000000,1903,,FORBES AVE,PITTSBURGH,15219,10,SINGLE FAMILY,20,SEMI DETACHED,...,2,5,POOR,1,SHINGLE,Brick,0.0,13.3230,12.8601,764.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95473,0137N00220000000,316,,BRACKEN AVE,PITTSBURGH,15227,10,SINGLE FAMILY,4,COLONIAL,...,2,3,AVERAGE,2,SLATE,Brick,0.0,83.3333,62.5000,20261.0
95474,0774G00285000000,776,,GREENHAVEN DR,BETHEL PARK,15102,10,SINGLE FAMILY,3,None,...,3,3,None,1,None,None,NaN,NaN,NaN,774.0
95475,0549N00334000000,105,,CARMELLA DR,MC KEESPORT,15131,10,SINGLE FAMILY,5,None,...,3,3,None,1,None,None,NaN,NaN,NaN,2567.0
95476,0462S00242000000,2221,,MONONGAHELA BLVD,MC KEESPORT,15132,10,SINGLE FAMILY,1,None,...,3,3,None,1,None,None,NaN,NaN,NaN,196.0
95477,0013D00328000000,2840,,MARY ST,PITTSBURGH,15203,10,SINGLE FAMILY,16,OLD STYLE,...,1,3,AVERAGE,1,SHINGLE,Frame,0.0,79.6903,65.5152,8739.0