In [1]:
import os
import pandas as pd
import sqlalchemy

In [2]:
#connection to the open payments in data in mysql
constr = 'mysql+mysqlconnector://root:J5wyNz72Jgk2R3@localhost:3306/pbgh_property'
engine = sqlalchemy.create_engine(constr,echo=False)

In [3]:
sales = pd.read_sql(con=engine, sql='''
#main query to be used for modeling home sales activity in Allegheny Count
#Author:Henry Greeley
#Date: 7.3.21
#Name: get_ac_home_sales

SELECT 

parcels.PARID
,parcels.PROPERTYHOUSENUM
,parcels.PROPERTYUNIT
,parcels.PROPERTYADDRESS
,parcels.PROPERTYCITY
,parcels.PROPERTYZIP
,CONVERT(parcels.USECODE,unsigned) AS USECODE
,parcels.USEDESC
,parcels.STYLE
,assess.STYLEDESC
,COALESCE(geo.geo_name_nhood,parcels.PROPERTYCITY)																								AS NHOOD_TOWN	
,geo.geo_name_nhood
,geo.geo_id_zipcode																					AS NEIGHBHOOD
,CONVERT(geo.x, FLOAT) AS LON
,CONVERT(geo.y, FLOAT) AS LAT
,parcels.SALEDESC
,CONVERT(RIGHT(parcels.SALEDATE,4),UNSIGNED) 																									AS SALEYEAR
,DATE(CONCAT(RIGHT(parcels.SALEDATE,4),'-',LEFT(parcels.SALEDATE,2),'-',RIGHT(LEFT(parcels.SALEDATE,5),2))) 									AS SALEDATE
,CAST(parcels.SALEPRICE AS UNSIGNED)																											AS SALEPRICE
,DATE(CONCAT(RIGHT(assess.PREVSALEDATE,4),'-',LEFT(assess.PREVSALEDATE,2),'-',RIGHT(LEFT(assess.PREVSALEDATE,5),2))) 							AS PREVSALEDATE
,CAST(assess.PREVSALEPRICE AS UNSIGNED)																											AS PREVSALEPRICE
,DATE(CONCAT(RIGHT(assess.PREVSALEDATE2,4),'-',LEFT(assess.PREVSALEDATE2,2),'-',RIGHT(LEFT(assess.PREVSALEDATE2,5),2))) 						AS PREVSALEDATE2
,CAST(assess.PREVSALEPRICE2 AS UNSIGNED)																										AS PREVSALEPRICE2
,CAST(assess.FINISHEDLIVINGAREA AS UNSIGNED)																									AS FINISHEDLIVINGAREA
,DATE(CONCAT(RIGHT(assess.RECORDDATE,4),'-',LEFT(assess.RECORDDATE,2),'-',RIGHT(LEFT(assess.RECORDDATE,5),2))) 									AS RECORDDATE
,CAST(assess.YEARBLT AS UNSIGNED)																												AS YEARBLT
,parcels.ASOFDATE                                                                                      									        AS ASOFDATE
,CAST(assess.FAIRMARKETBUILDING AS UNSIGNED)																									AS FAIRMARKETBUILDING
,CAST(assess.FAIRMARKETLAND AS UNSIGNED)																										AS FAIRMARKETLAND
,CAST(assess.FAIRMARKETTOTAL AS UNSIGNED) 																										AS FAIRMARKETTOTAL
,CAST(assess.BEDROOMS AS UNSIGNED)																												AS BEDROOMS				
,CAST(assess.FULLBATHS AS UNSIGNED)																												AS FULLBATHS
,CAST(assess.STORIES AS UNSIGNED)																												AS STORIES
,IFNULL(assess.BASEMENT,5)																														AS BASEMENT_
,assess.BASEMENTDESC
,assess.HEATINGCOOLING
,assess.HEATINGCOOLINGDESC
,CASE WHEN assess.HEATINGCOOLINGDESC = 'Central Heat with AC' THEN 1 
      WHEN assess.HEATINGCOOLINGDESC = 'Central Heat' THEN 2
      ELSE 3 END 																																AS HEATINGCOOLINGCAT
,ifnull(assess.CONDITION,3)																													AS CONDITION_																																																								
,assess.CONDITIONDESC
,ifnull(assess.ROOF,1)																														AS ROOF_
,assess.ROOFDESC
,assess.EXTFINISH_DESC
,assess.FIREPLACES
,CAST(assess.FAIRMARKETTOTAL AS UNSIGNED) 	/ CAST(assess.FINISHEDLIVINGAREA AS UNSIGNED)														AS ASSESS_PER_SQF
,CAST(parcels.SALEPRICE AS UNSIGNED) / CAST(assess.FINISHEDLIVINGAREA AS UNSIGNED)																AS PRICE_PER_SF
,DATEDIFF(
		  DATE(CONCAT(RIGHT(parcels.SALEDATE,4),'-',LEFT(parcels.SALEDATE,2),'-',RIGHT(LEFT(parcels.SALEDATE,5),2))),
          DATE(CONCAT(RIGHT(parcels.PREVSALEDATE,4),'-',LEFT(parcels.PREVSALEDATE,2),'-',RIGHT(LEFT(parcels.PREVSALEDATE,5),2)))
          ) 																										    AS HELDDAYS

FROM pbgh_property.allegheny_cty_parcels_2021 parcels
	 INNER JOIN pbgh_property.allghny_prcls_2021_geodta geo ON parcels.PARID = geo.PARID
     LEFT OUTER JOIN pbgh_property.allghny_prcls_2021_assessdta assess ON assess.PARID = parcels.PARID 
     
WHERE 1=1
AND parcels.USEDESC IN ('SINGLE FAMILY','ROWHOUSE','TOWNHOUSE','TWO FAMILY','FOUR FAMILY','THREE FAMILY')
AND DATE(CONCAT(RIGHT(parcels.SALEDATE,4),'-',LEFT(parcels.SALEDATE,2),'-',RIGHT(LEFT(parcels.SALEDATE,5),2)))  >= '2016-01-01'
AND CAST(parcels.SALEPRICE AS UNSIGNED)	 >= 10000
#AND geo.geo_name_nhood IS NOT NULLZ
''')

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95478 entries, 0 to 95477
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PARID               95478 non-null  object
 1   PROPERTYHOUSENUM    95478 non-null  object
 2   PROPERTYUNIT        95478 non-null  object
 3   PROPERTYADDRESS     95478 non-null  object
 4   PROPERTYCITY        95478 non-null  object
 5   PROPERTYZIP         95478 non-null  object
 6   USECODE             95478 non-null  int64
 7   USEDESC             95478 non-null  object
 8   STYLE               95468 non-null  object
 9   STYLEDESC           92297 non-null  object
 10  NHOOD_TOWN          95478 non-null  object
 11  geo_name_nhood      21773 non-null  object
 12  NEIGHBHOOD          95478 non-null  object
 13  LON                 95478 non-null  float64
 14  LAT                 95478 non-null  float64
 15  SALEDESC            95478 non-null  object
 16  SALEYEAR            95478 non-null  int64
 17  SALEDATE            95478 non-null  object
 18  SALEPRICE           95478 non-null  int64
 19  PREVSALEDATE        91268 non-null  object
 20  PREVSALEPRICE       91197 non-null  float64
 21  PREVSALEDATE2       65781 non-null  object
 22  PREVSALEPRICE2      65736 non-null  float64
 23  FINISHEDLIVINGAREA  92298 non-null  float64
 24  RECORDDATE          92278 non-null  object
 25  YEARBLT             92298 non-null  float64
 26  ASOFDATE            95478 non-null  object
 27  FAIRMARKETBUILDING  92310 non-null  float64
 28  FAIRMARKETLAND      92310 non-null  float64
 29  FAIRMARKETTOTAL     92310 non-null  float64
 30  BEDROOMS            92293 non-null  float64
 31  FULLBATHS           92282 non-null  float64
 32  STORIES             92297 non-null  float64
 33  BASEMENT_           95478 non-null  object
 34  BASEMENTDESC        92279 non-null  object
 35  HEATINGCOOLING      92266 non-null  object
 36  HEATINGCOOLINGDESC  92266 non-null  object
 37  HEATINGCOOLINGCAT   95478 non-null  int64
 38  CONDITION_          95478 non-null  object
 39  CONDITIONDESC       92288 non-null  object
 40  ROOF_               95478 non-null  object
 41  ROOFDESC            92189 non-null  object
 42  EXTFINISH_DESC      92298 non-null  object
 43  FIREPLACES          83557 non-null  float64
 44  ASSESS_PER_SQF      92298 non-null  float64
 45  PRICE_PER_SF        92298 non-null  float64
 46  HELDDAYS            94539 non-null  float64
dtypes: float64(16), int64(4), object(27)
memory usage: 34.2+ MB

In [6]:
sales.columns

Index(['PARID', 'PROPERTYHOUSENUM', 'PROPERTYUNIT', 'PROPERTYADDRESS',
       'PROPERTYCITY', 'PROPERTYZIP', 'USECODE', 'USEDESC', 'STYLE',
       'STYLEDESC', 'NHOOD_TOWN', 'geo_name_nhood', 'NEIGHBHOOD', 'LON', 'LAT',
       'SALEDESC', 'SALEYEAR', 'SALEDATE', 'SALEPRICE', 'PREVSALEDATE',
       'PREVSALEPRICE', 'PREVSALEDATE2', 'PREVSALEPRICE2',
       'FINISHEDLIVINGAREA', 'RECORDDATE', 'YEARBLT', 'ASOFDATE',
       'FAIRMARKETBUILDING', 'FAIRMARKETLAND', 'FAIRMARKETTOTAL', 'BEDROOMS',
       'FULLBATHS', 'STORIES', 'BASEMENT_', 'BASEMENTDESC', 'HEATINGCOOLING',
       'HEATINGCOOLINGDESC', 'HEATINGCOOLINGCAT', 'CONDITION_',
       'CONDITIONDESC', 'ROOF_', 'ROOFDESC', 'EXTFINISH_DESC', 'FIREPLACES',
       'ASSESS_PER_SQF', 'PRICE_PER_SF', 'HELDDAYS'],
      dtype='object')

In [7]:
avg_price_yr = sales[['SALEYEAR','PRICE_PER_SF']].groupby('SALEYEAR').mean()

In [8]:
avg_price_yr

          PRICE_PER_SF
SALEYEAR
2016        100.451162
2017        115.166598
2018        115.005940
2019        136.374611
2020        131.357776
2021        141.418540

In [9]:
keepcols = ['PARID', 'LON', 'LAT','USECODE', 'SALEYEAR','SALEPRICE', 'FINISHEDLIVINGAREA','YEARBLT',
        'FAIRMARKETBUILDING', 'FAIRMARKETLAND', 'FAIRMARKETTOTAL',
       'BEDROOMS', 'FULLBATHS', 'STORIES', 'BASEMENT_', 'HEATINGCOOLINGCAT', 'CONDITION_', 
       'ROOF_', 'HELDDAYS','SALEDATE']

In [10]:
sales_f = sales[keepcols]

In [11]:
sales_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95478 entries, 0 to 95477
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PARID               95478 non-null  object
 1   LON                 95478 non-null  float64
 2   LAT                 95478 non-null  float64
 3   USECODE             95478 non-null  int64
 4   SALEYEAR            95478 non-null  int64
 5   SALEPRICE           95478 non-null  int64
 6   FINISHEDLIVINGAREA  92298 non-null  float64
 7   YEARBLT             92298 non-null  float64
 8   FAIRMARKETBUILDING  92310 non-null  float64
 9   FAIRMARKETLAND      92310 non-null  float64
 10  FAIRMARKETTOTAL     92310 non-null  float64
 11  BEDROOMS            92293 non-null  float64
 12  FULLBATHS           92282 non-null  float64
 13  STORIES             92297 non-null  float64
 14  BASEMENT_           95478 non-null  object
 15  HEATINGCOOLINGCAT   95478 non-null  int64
 16  CONDITION_          95478 non-null  object
 17  ROOF_               95478 non-null  object
 18  HELDDAYS            94539 non-null  float64
 19  SALEDATE            95478 non-null  object
dtypes: float64(11), int64(4), object(5)
memory usage: 14.6+ MB

In [12]:
sales_f = sales_f.set_index('PARID')

In [13]:
sales_f.describe()

,LON,LAT,USECODE,SALEYEAR,SALEPRICE,FINISHEDLIVINGAREA,YEARBLT,FAIRMARKETBUILDING,FAIRMARKETLAND,FAIRMARKETTOTAL,BEDROOMS,FULLBATHS,STORIES,HEATINGCOOLINGCAT,HELDDAYS
count,95478.000000,95478.000000,95478.000000,95478.000000,9.547800e+04,92298.000000,92298.000000,9.231000e+04,9.231000e+04,9.231000e+04,92293.000000,92282.000000,92297.000000,95478.000000,94539.000000
mean,-79.971204,40.447166,15.363853,2018.662969,2.194864e+05,1727.860647,1947.522525,1.178068e+05,3.614959e+04,1.539564e+05,3.081274,1.518238,1.650119,1.466882,5269.153503
std,0.116034,0.086495,15.195694,1.689132,3.883578e+05,810.964938,33.096302,1.207729e+05,3.213180e+04,1.438643e+05,0.907940,0.712567,0.505520,0.576707,5687.610668
min,-80.346800,40.197200,10.000000,2016.000000,1.000000e+04,20.000000,1755.000000,0.000000e+00,1.000000e+02,3.000000e+02,0.000000,0.000000,1.000000,1.000000,-1444.000000
25%,-80.049400,40.385400,10.000000,2017.000000,9.150000e+04,1188.000000,1922.000000,4.940000e+04,1.580000e+04,6.880000e+04,3.000000,1.000000,1.000000,1.000000,1254.000000
50%,-79.979400,40.441200,10.000000,2019.000000,1.650000e+05,1512.000000,1950.000000,8.260000e+04,2.910000e+04,1.155000e+05,3.000000,1.000000,2.000000,1.000000,3158.000000
75%,-79.887900,40.500100,10.000000,2020.000000,2.650000e+05,2048.000000,1966.000000,1.427000e+05,4.560000e+04,1.887000e+05,4.000000,2.000000,2.000000,2.000000,7058.500000
max,-79.697500,40.674200,70.000000,2021.000000,7.120000e+07,14570.000000,2021.000000,6.262600e+06,1.050000e+06,7.000000e+06,15.000000,8.000000,4.000000,3.000000,41605.000000

In [14]:
sales_f.SALEDATE = pd.to_datetime(sales_f.SALEDATE)

In [15]:
sales_f['AGEATSALE'] = sales_f.SALEYEAR - sales_f.YEARBLT

In [16]:
#sort in time
sales_f = sales_f.sort_values(by='SALEDATE')

In [17]:
sales_f = sales_f.drop('SALEDATE',axis=1)

In [18]:
sales_f

,LON,LAT,USECODE,SALEYEAR,SALEPRICE,FINISHEDLIVINGAREA,YEARBLT,FAIRMARKETBUILDING,FAIRMARKETLAND,FAIRMARKETTOTAL,BEDROOMS,FULLBATHS,STORIES,BASEMENT_,HEATINGCOOLINGCAT,CONDITION_,ROOF_,HELDDAYS,AGEATSALE
PARID,,,,,,,,,,,,,,,,,,,
1242P00118000000,-79.7085,40.4447,10,2016,189000,1938.0,1975.0,141400.0,27600.0,169000.0,4.0,1.0,2.0,5,1,3,1,11944.0,41.0
0124S00126000000,-79.9030,40.4626,20,2016,10000,1364.0,1900.0,18200.0,3000.0,21200.0,3.0,2.0,2.0,5,2,4,4,2285.0,116.0
0125B00070000000,-79.9096,40.4618,10,2016,11900,1296.0,1910.0,8900.0,3000.0,11900.0,3.0,1.0,2.0,5,2,4,1,2282.0,106.0
0174E00013000000,-79.8957,40.4598,20,2016,16000,1864.0,1900.0,38800.0,3400.0,42200.0,3.0,1.0,2.0,5,2,4,1,2282.0,116.0
0124P00139000000,-79.9093,40.4646,30,2016,24000,1418.0,1920.0,37800.0,3800.0,41600.0,1.0,1.0,2.0,5,3,4,1,2277.0,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0127A00053000000,-79.9133,40.4427,10,2021,32000,1429.0,1928.0,89300.0,137200.0,226500.0,3.0,1.0,2.0,5,2,3,1,11001.0,93.0
0569M00061000000,-80.0683,40.3212,10,2021,230000,1188.0,1946.0,98100.0,40000.0,138100.0,3.0,2.0,2.0,5,1,3,1,2353.0,75.0
0396G00054000000,-80.0889,40.3430,10,2021,865000,3040.0,1976.0,323000.0,77000.0,400000.0,5.0,3.0,2.0,5,1,7,1,6389.0,45.0
0121P00004000000,-79.9286,40.4838,10,2021,230000,1218.0,1960.0,77800.0,30100.0,107900.0,3.0,1.0,1.0,5,1,3,1,2355.0,61.0
0241L00242000000,-79.8729,40.3597,10,2021,68000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,3,3,1,96.0,NaN

In [19]:
sales_f.SALEYEAR.value_counts()

2020    18235
2021    17366
2019    16382
2018    15399
2017    14541
2016    13555
Name: SALEYEAR, dtype: int64

In [20]:
x_cols = [col for col in sales_f.columns if col not in  ('SALEPRICE','SALEDATE')]
y_col = ['SALEYEAR','SALEPRICE']

In [21]:
X = sales_f[x_cols]
y = sales_f[y_col]

In [22]:
y

                  SALEYEAR  SALEPRICE
PARID
1242P00118000000      2016     189000
0124S00126000000      2016      10000
0125B00070000000      2016      11900
0174E00013000000      2016      16000
0124P00139000000      2016      24000
...                    ...        ...
0127A00053000000      2021      32000
0569M00061000000      2021     230000
0396G00054000000      2021     865000
0121P00004000000      2021     230000
0241L00242000000      2021      68000

[95478 rows x 2 columns]

In [23]:
#split evenly among years
from sklearn.model_selection import train_test_split
X_tr_styr, X_ts_styr, y_tr_styr, y_ts_styr = train_test_split(X, y, test_size=0.2, random_state=13,stratify=y.SALEYEAR)

In [24]:
#drop years for training from y
y_tr_styr = y_tr_styr.drop('SALEYEAR',axis=1)
y_ts_styr = y_ts_styr.drop('SALEYEAR',axis=1)

In [25]:
#split chronogically
split_point = int(len(sales_f) * .8)


#split dfs
X_train_chron = X.loc[list(X.index[:split_point])]
X_test_chron = X.loc[list(X.index[split_point:])]
y_train_chron = y.loc[list(y.index[:split_point])]
y_test_chron = y.loc[list(y.index[split_point:])]


#drop years for training from y
y_train_chron = y_train_chron.drop('SALEYEAR',axis=1)
y_test_chron = y_test_chron.drop('SALEYEAR',axis=1)

In [26]:
#replace numeric nulls with means and categoricals with mode
numcols = ['FINISHEDLIVINGAREA','FAIRMARKETBUILDING', 'FAIRMARKETLAND', 'FAIRMARKETTOTAL', 'BEDROOMS','FULLBATHS', 'STORIES', 'HELDDAYS', 'AGEATSALE','YEARBLT']
catcols = ['BASEMENT_', 'HEATINGCOOLINGCAT', 'CONDITION_','ROOF_']

In [27]:
for col in numcols:

    X_train_chron[col] = X_train_chron[col].fillna(X_train_chron[col].mean())
    X_test_chron[col] = X_test_chron[col].fillna(X_test_chron[col].mean())

In [28]:
for col in numcols:

    X_test_chron[col] = X_test_chron[col].fillna(X_test_chron[col].mean())

In [29]:
for col in numcols:

    X_tr_styr[col] = X_tr_styr[col].fillna(X_tr_styr[col].mean())
    X_ts_styr[col] = X_ts_styr[col].fillna(X_ts_styr[col].mean())

<ipython-input-29-1c0fef6bb72d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_tr_styr[col] = X_tr_styr[col].fillna(X_tr_styr[col].mean())
<ipython-input-29-1c0fef6bb72d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_ts_styr[col] = X_ts_styr[col].fillna(X_ts_styr[col].mean())

In [30]:
X_train_chron.CONDITION_ = X_train_chron.CONDITION_.fillna(X_train_chron.CONDITION_.mode())

In [31]:
X_tr_styr.BASEMENT_.value_counts()

5    71852
4     2606
1      982
3      509
2      433
Name: BASEMENT_, dtype: int64

In [32]:
X_ts_styr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19096 entries, 0083H00201000000 to 0013R00122000000
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LON                 19096 non-null  float64
 1   LAT                 19096 non-null  float64
 2   USECODE             19096 non-null  int64
 3   SALEYEAR            19096 non-null  int64
 4   FINISHEDLIVINGAREA  19096 non-null  float64
 5   YEARBLT             19096 non-null  float64
 6   FAIRMARKETBUILDING  19096 non-null  float64
 7   FAIRMARKETLAND      19096 non-null  float64
 8   FAIRMARKETTOTAL     19096 non-null  float64
 9   BEDROOMS            19096 non-null  float64
 10  FULLBATHS           19096 non-null  float64
 11  STORIES             19096 non-null  float64
 12  BASEMENT_           19096 non-null  object
 13  HEATINGCOOLINGCAT   19096 non-null  int64
 14  CONDITION_          19096 non-null  object
 15  ROOF_               19096 non-null  object
 16  HELDDAYS            19096 non-null  float64
 17  AGEATSALE           19096 non-null  float64
dtypes: float64(12), int64(3), object(3)
memory usage: 2.8+ MB

In [33]:
#treatment of different variables
from sklearn.preprocessing import StandardScaler

In [34]:
len(X_train_chron)

76382

In [35]:
X_train_chron.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76382 entries, 1242P00118000000 to 0627P00185000000
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LON                 76382 non-null  float64
 1   LAT                 76382 non-null  float64
 2   USECODE             76382 non-null  int64
 3   SALEYEAR            76382 non-null  int64
 4   FINISHEDLIVINGAREA  76382 non-null  float64
 5   YEARBLT             76382 non-null  float64
 6   FAIRMARKETBUILDING  76382 non-null  float64
 7   FAIRMARKETLAND      76382 non-null  float64
 8   FAIRMARKETTOTAL     76382 non-null  float64
 9   BEDROOMS            76382 non-null  float64
 10  FULLBATHS           76382 non-null  float64
 11  STORIES             76382 non-null  float64
 12  BASEMENT_           76382 non-null  object
 13  HEATINGCOOLINGCAT   76382 non-null  int64
 14  CONDITION_          76382 non-null  object
 15  ROOF_               76382 non-null  object
 16  HELDDAYS            76382 non-null  float64
 17  AGEATSALE           76382 non-null  float64
dtypes: float64(12), int64(3), object(3)
memory usage: 11.1+ MB

In [36]:
X_train_chron.describe()

,LON,LAT,USECODE,SALEYEAR,FINISHEDLIVINGAREA,YEARBLT,FAIRMARKETBUILDING,FAIRMARKETLAND,FAIRMARKETTOTAL,BEDROOMS,FULLBATHS,STORIES,HEATINGCOOLINGCAT,HELDDAYS,AGEATSALE
count,76382.000000,76382.000000,76382.000000,76382.000000,76382.000000,76382.000000,7.638200e+04,7.638200e+04,7.638200e+04,76382.000000,76382.000000,76382.000000,76382.000000,76382.000000,76382.000000
mean,-79.972250,40.448111,15.241942,2018.101346,1738.270048,1948.107807,1.214720e+05,3.653485e+04,1.580069e+05,3.091465,1.528890,1.648916,1.461693,5276.379741,69.978506
std,0.116518,0.086678,15.024660,1.403137,800.365284,32.751196,1.216009e+05,3.178925e+04,1.444222e+05,0.888841,0.703639,0.497082,0.580280,5696.403746,32.829609
min,-80.341200,40.197200,10.000000,2016.000000,20.000000,1755.000000,0.000000e+00,2.000000e+02,3.000000e+02,0.000000,0.000000,1.000000,1.000000,-1444.000000,-4.000000
25%,-80.050500,40.386000,10.000000,2017.000000,1200.000000,1925.000000,5.170000e+04,1.620000e+04,7.190000e+04,3.000000,1.000000,1.000000,1.000000,1232.000000,52.000000
50%,-79.980300,40.442500,10.000000,2018.000000,1555.000000,1950.000000,8.840000e+04,3.040000e+04,1.225000e+05,3.000000,1.000000,2.000000,1.000000,3231.000000,69.000000
75%,-79.888500,40.501600,10.000000,2019.000000,2036.000000,1965.000000,1.447000e+05,4.540000e+04,1.900000e+05,4.000000,2.000000,2.000000,2.000000,6973.000000,94.000000
max,-79.697500,40.674200,70.000000,2020.000000,14570.000000,2021.000000,6.262600e+06,1.050000e+06,7.000000e+06,15.000000,7.000000,4.000000,3.000000,41481.000000,265.000000

In [37]:
scaler = StandardScaler()

In [38]:
from sklearn.ensemble import GradientBoostingRegressor

In [39]:
reg = GradientBoostingRegressor(random_state=13)

In [40]:
reg.fit(X_train_chron,y_train_chron.values.ravel())

GradientBoostingRegressor(random_state=13)

In [41]:
chron_price_pred = reg.predict(X_test_chron)

In [42]:
reg.score(X_test_chron,y_test_chron)

0.39784602478361764

In [43]:
reg_strat = GradientBoostingRegressor(random_state=13)

In [44]:
reg_strat.fit(X_tr_styr,y_tr_styr.values.ravel())

GradientBoostingRegressor(random_state=13)

In [45]:
reg_strat.score(X_ts_styr,y_ts_styr)

0.17239182652348062

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
def test_model(model):
    #test different sk learn models
    predictor = model.fit(X_train_chron,y_train_chron.values.ravel())

    score = model.score(X_test_chron,y_test_chron)

    return score

In [48]:
test_model(LinearRegression())

0.4205645822952425

In [49]:
test_model(GradientBoostingRegressor(random_state=13))

0.39784602478361764

In [50]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
test_model(RandomForestRegressor(random_state=13,max_depth=3))

0.35093080313244174

In [52]:
from sklearn.linear_model import SGDRegressor

In [53]:
test_model(SGDRegressor())

-5.906793205022277e+27

In [54]:
list(X_train_chron.columns)

['LON',
 'LAT',
 'USECODE',
 'SALEYEAR',
 'FINISHEDLIVINGAREA',
 'YEARBLT',
 'FAIRMARKETBUILDING',
 'FAIRMARKETLAND',
 'FAIRMARKETTOTAL',
 'BEDROOMS',
 'FULLBATHS',
 'STORIES',
 'BASEMENT_',
 'HEATINGCOOLINGCAT',
 'CONDITION_',
 'ROOF_',
 'HELDDAYS',
 'AGEATSALE']

In [55]:

#extract floating point values
floatcols = [col for col in list(X_train_chron.columns) if 'float'  in str(list(X_train_chron.dtypes)[list(X_train_chron.columns).index(col)]) ]

In [56]:
[list(X_train_chron.columns).index(col) for col in list(X_train_chron.columns)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [57]:
X_test_chron_float = X_test_chron[floatcols]
X_train_chron_float = X_train_chron[floatcols]

In [58]:
#treatment of different variables
from sklearn.preprocessing import StandardScaler

In [59]:
scaler = StandardScaler()

In [60]:
X_test_chron_float = scaler.fit_transform(X_test_chron_float)
X_train_chron_float = scaler.fit_transform(X_train_chron_float)

In [61]:
def test_model_float(model):
    #test different sk learn models
    predictor = model.fit(X_train_chron_float,y_train_chron.values.ravel())

    score = model.score(X_test_chron_float,y_test_chron)

    return score

In [62]:
test_model_float(SGDRegressor())

0.41435202195231735

In [63]:
test_model_float(RandomForestRegressor(random_state=13,max_depth=3))

0.39507727617381205

In [64]:
test_model_float(GradientBoostingRegressor(random_state=13))

0.32526243188867154

In [65]:
test_model_float(LinearRegression())

0.425570812319782

In [66]:
from sklearn.neighbors import KNeighborsRegressor

In [67]:
test_model_float(KNeighborsRegressor(n_neighbors=1000))

0.34395747896572904