In [3]:
import pandas as pd
import sqlalchemy

In [4]:
#connection to the open payments in data in mysql
constr = 'mysql+mysqlconnector://root:mysqlroot@localhost:3306/pbgh_property'
engine = sqlalchemy.create_engine(constr,echo=False)

In [5]:
pgh_old_housing = pd.read_csv('https://data.wprdc.org/dataset/f8296e1d-d0a5-4f2a-a95f-a7bab6300cc6/resource/afda23d8-ee01-4731-8419-6170149523a0/download/pre1950housing.xls-pre1950housing.csv')

In [6]:
pgh_old_housing

      TRACT   Pre1950
0     10300  0.658477
1     20100  0.321088
2     20300  0.724907
3     30500  0.324117
4     40200  0.463549
..      ...       ...
388  980000  0.353982
389  980100  0.000000
390  980700  0.619048
391  981100  0.000000
392  982200  0.391304

[393 rows x 2 columns]

In [7]:
pgh_old_housing.to_sql('pgh_old_housing', con=engine,if_exists='replace')

In [8]:
pgh_poor_housing = pd.read_csv('https://data.wprdc.org/dataset/12edd529-5119-49c7-92b5-15314b3ae25e/resource/a1f3ffd9-34bf-4255-97a8-af8084894159/download/poorhousingconditions.csv')

In [9]:
pgh_poor_housing.to_sql('pgh_poor_housing', con=engine,if_exists='replace')